body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header, footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  padding: 0px 15px 0px 15px;
  color: white;
}

.sidebar {
  width: 200px;
  height: 100vh;
  background-color: #5b5b5b;
  color: white;
  padding: 10px 15px;
}

.sidebar h2 {
  font-size: 1.5em;
 /* text-decoration: underline; */
  margin-bottom: 5px;
  margin-top: 10px;
}

.container {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 5px;
}

.section h3 {
  font-size: 1.5em;
  color: black;
  margin-bottom: 1px;
  margin-top: 1px;
}
  
